<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="ConnectionString_ILX_oven" value="Server=wux-Prod01;Database=ILX_oven;User Id=Oven_data;Password=Oven_data" />
  </appSettings>
</configuration>